  body {
    background: linear-gradient(#008080 0%,#191970 100%);
    background-position: fixed;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    color: white;
  }
  #elephants {
    width: 500px;
    border-style: solid;
    border-color: #006064;
    border-radius: 18px;
    border-width: 10px;
  }
  h3 {
    padding-left: 150px;
    padding-right: 150px;
  }
  #credit {
    color: #00E676;
  }
  .links {
    text-decoration: none;
    color: #00E5FF;
    border-color: #C2185B;
    border-style: solid;
    border-radius: 20px;
    padding: 10px;
    background-color: #b33687;
  }
  #iphonewallet {
    width: 400px;
  }
  #travelmug {
    width: 400px;
  }
  #throwpillow {
    width: 400px;
  }
  .designs {
    width: 200px;
    height: 200px;
  }